/* CSS HEX */
:root {
  /* CSS properties */

  --tuna: #3c3d42;
  --pearl-bush: #e1d7cd;
  --schooner: #948980;
  --nomad: #b7ada0;
  --di-serria: #e0904a;
  --silk: #c0b3ac;
  --dorado: #6e625e;
  --dusty-gray: #989696;
  --dusty-gray: #a49494;
  --bg: #002339;
  --text: #019f55;
}
